<p>pipes works!</p>

<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <br>
        <br><br>
        <h2>App Status:</h2>
        <hr>
        <ul class="list-group">
          <li *ngFor="let server of servers"
            class="list-group-item">
            <span
              class="badge">
              {{ server.status }}
            </span>
            <strong>{{ server.name | shorten:5}}</strong> |
            {{ server.instanceType | uppercase}} |
            {{ server.started | date:'fullDate' | uppercase}}
          </li>
        </ul>
      </div>
    </div>
  </div>
