<ngx-extended-pdf-viewer [height]="'60vh'" [showDownloadButton]="false"
                         [showOpenFileButton]="false" [showPrintButton]="false" [showRotateButton]="false"
                         [showSecondaryToolbarButton]="false" [showSidebarButton]="false" [showTextEditor]="false"

                         [src]="'/assets/pdfs/Bootstrap-vs-Material-Design-vs-Prime-vs-Tailwind.pdf'"
                         [useBrowserLocale]="true">
</ngx-extended-pdf-viewer>
<div style="text-align: center;margin-top: 20px;  font-family: Arial;">

  <button class="btn-danger" style="margin-right: 20px; padding: 5px 5px;  border: none;">
    verwerfen
  </button>
  <button class="btn-primary" style="padding: 5px 5px; border: none;">
    geschwärztes Dokument speichern
  </button>
</div>
