<p>reactive-form works!</p>
<div class="container">
    <div class="row">

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div id="user-data">
                <div formGroupName="userData">
                    <div class="form-group">
                        <label for="forname">Forname</label>
                        <input type="text" id="forname" class="form-control" formControlName="forname">
                        <span *ngIf="!signupForm.get('userData.forname').valid && signupForm.get('userData.forname').touched"
                            class="help-block">
                            <span *ngIf="signupForm.get('userData.forname').errors['nameIsForbidden']">This name is forbidden</span>
                            <span *ngIf="signupForm.get('userData.forname').errors['required']">This field is required</span>
                            
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="text" id="lastname" class="form-control" formControlName="lastname">
                        <span *ngIf="!signupForm.get('userData.lastname').valid && signupForm.get('userData.lastname').touched"
                            class="help-block">Please enter a valid lastname</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" formControlName="email">
                    <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
                        class="help-block">Please enter a valid email</span>
                </div>
            </div>
            <div class="radio" *ngFor="let gender of genders">
                <label>
                    <input type="radio" [value]="gender" formControlName="gender">
                    {{gender}}
                </label>
            </div>

            <div formArrayName="hobbies">
               <h4>Your hobbies</h4> 
               <button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</button>
               <div class="form-group" 
               *ngFor="let hobbyControl of hobbies.controls; let i = index">
                <input type="text" class="form-control" [formControlName]="i">
               </div>
            </div>
            <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block">Please enter a valid data</span>
            <button class="btn btn-primary">Submit</button>
            <button class="btn btn-primary" (click)="onSetDefaultValues()">Default Values</button>
            <button class="btn btn-primary" (click)="onSetDefaultNames()">Default Names</button>
            <button class="btn btn-primary" (click)="onResetForm()">Reset Form</button>

        </form>
    </div>
</div>