<app-routing></app-routing>
<app-property-binding></app-property-binding>
<app-one-way-binding></app-one-way-binding>
<app-event-binding></app-event-binding>
<app-two-way-binding></app-two-way-binding>
<app-emit-parent></app-emit-parent>
<app-observable></app-observable>
<hr>
<app-form></app-form>
<hr>
<app-reactive-form></app-reactive-form>
<hr>
<app-pipes></app-pipes>
<hr>
<app-backend-communication></app-backend-communication>
<hr>
<app-wrapper></app-wrapper>
<hr>
<app-behaviorsubmit></app-behaviorsubmit>
<hr>
<app-unit-test></app-unit-test>

